@font-face {
    font-family: Inter-Bold;
    src: url(fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
    color: #FFFFFF;
    font-family: Inter;
}

.main {
    margin: 70px auto;
    padding: 0 10px;
    width: 50%;
    border: 3px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #003D41;
    height: 600px;
}

.heading {
    text-align: center;
    font-family: Inter-Bold;
    font-size: 25px;
}

.data-input {
    /* background-color: white; */
    /* margin: 0 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-input input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    color: #003D41;
    font-weight: bold;
    border: 1px solid #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: .2s;
    flex: 1;
}

.data-input input:focus {
    /* border: 1px solid black; */
    outline: none;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    color: #003D41;
    font-weight: bold;
}

.data-input input:hover {
    opacity: .9;
    transition: .2s;
}


.icon {
    background-color: #fff;
    padding: 5px 6px;
    border: none;
    transition: .2s;
    margin-left: 5px;
    cursor: pointer;
}

.icon:hover {
    transition: .2s;
    opacity: .7;
}

.arrow {
    font-size: 30px;
    color: #003D41;
}

.delete-all {
    padding: 12px 6px;
    margin-left: 5px;
    cursor: pointer;
    font-family: Inter-Bold;
    color: #003b3f;
    border: none;
    background-color: white;
    transition: .2s;
}

.delete-all:hover {
    transition: .2s;
    opacity: .7;
}

.delete-all:active {
    opacity: .5;

}

ol {
    padding: 0;
    display: flex;
    transition: .2s;
    flex-direction: column;
}

.list-item {
    margin: 10px 0 10px 20px;
    transition: .2s;
}

.list-item:hover {
    opacity: .8;
    transition: .2s;
}

.list-item>i {
    float: right;
    cursor: pointer;
}

.fa-trash {
    font-size: 20px;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .box {
    width: 350px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #003b3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h2 {
    margin: 0 0 20px 0;
}

.ok-button {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border: none;
    transition: .2s;
    border-radius: 2px;
    cursor: pointer;
}

.ok-button:hover {
    opacity: .7;
}

.ok-button:focus {
    outline: none;
    opacity: .7;
}


.ok-button:active {
    background-color: #003b3f;
    color: white;
}

.hidden {
    display: none !important;
}

.edit {
    margin-right: 10px;
    font-size: 20px;
}

#newInput {
    /* width: ; */
    padding: 10px;
    font-size: 16px;
    color: #003D41;
    font-weight: bold;
    border: 1px solid #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: .2s;
    flex: 1;
}

#newInput:focus {
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #003D41;
    font-weight: bold;
}

#newInput:hover {
    opacity: .9;
    transition: .2s;
}